@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text;
  // background: linear-gradient(160deg, $color-bg-gradient-start 0%, $color-bg-gradient-end 50%, #0a0e14 100%);
  min-height: 100vh;
  background-color: rgb(27, 66, 99);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
p {
  margin: 0;
}

a {
  color: inherit;
}
